  $add-x: 0px;
  $add-y: 37px;
  $add-offset-x: 0px;
  $add-offset-y: -37px;
  $add-width: 32px;
  $add-height: 32px;
  $add-total-width: 32px;
  $add-total-height: 5582px;
  $add-image: '../public/img/spritesheet.png';
  $add: 0px 37px 0px -37px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $alert-x: 0px;
  $alert-y: 2775px;
  $alert-offset-x: 0px;
  $alert-offset-y: -2775px;
  $alert-width: 32px;
  $alert-height: 32px;
  $alert-total-width: 32px;
  $alert-total-height: 5582px;
  $alert-image: '../public/img/spritesheet.png';
  $alert: 0px 2775px 0px -2775px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $android-x: 0px;
  $android-y: 74px;
  $android-offset-x: 0px;
  $android-offset-y: -74px;
  $android-width: 32px;
  $android-height: 32px;
  $android-total-width: 32px;
  $android-total-height: 5582px;
  $android-image: '../public/img/spritesheet.png';
  $android: 0px 74px 0px -74px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $apple-x: 0px;
  $apple-y: 111px;
  $apple-offset-x: 0px;
  $apple-offset-y: -111px;
  $apple-width: 32px;
  $apple-height: 32px;
  $apple-total-width: 32px;
  $apple-total-height: 5582px;
  $apple-image: '../public/img/spritesheet.png';
  $apple: 0px 111px 0px -111px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $archive-x: 0px;
  $archive-y: 148px;
  $archive-offset-x: 0px;
  $archive-offset-y: -148px;
  $archive-width: 32px;
  $archive-height: 32px;
  $archive-total-width: 32px;
  $archive-total-height: 5582px;
  $archive-image: '../public/img/spritesheet.png';
  $archive: 0px 148px 0px -148px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $arrow-down-x: 0px;
  $arrow-down-y: 185px;
  $arrow-down-offset-x: 0px;
  $arrow-down-offset-y: -185px;
  $arrow-down-width: 32px;
  $arrow-down-height: 32px;
  $arrow-down-total-width: 32px;
  $arrow-down-total-height: 5582px;
  $arrow-down-image: '../public/img/spritesheet.png';
  $arrow-down: 0px 185px 0px -185px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $arrow-left-x: 0px;
  $arrow-left-y: 222px;
  $arrow-left-offset-x: 0px;
  $arrow-left-offset-y: -222px;
  $arrow-left-width: 32px;
  $arrow-left-height: 32px;
  $arrow-left-total-width: 32px;
  $arrow-left-total-height: 5582px;
  $arrow-left-image: '../public/img/spritesheet.png';
  $arrow-left: 0px 222px 0px -222px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $arrow-right-x: 0px;
  $arrow-right-y: 259px;
  $arrow-right-offset-x: 0px;
  $arrow-right-offset-y: -259px;
  $arrow-right-width: 32px;
  $arrow-right-height: 32px;
  $arrow-right-total-width: 32px;
  $arrow-right-total-height: 5582px;
  $arrow-right-image: '../public/img/spritesheet.png';
  $arrow-right: 0px 259px 0px -259px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $arrow-up-x: 0px;
  $arrow-up-y: 296px;
  $arrow-up-offset-x: 0px;
  $arrow-up-offset-y: -296px;
  $arrow-up-width: 32px;
  $arrow-up-height: 32px;
  $arrow-up-total-width: 32px;
  $arrow-up-total-height: 5582px;
  $arrow-up-image: '../public/img/spritesheet.png';
  $arrow-up: 0px 296px 0px -296px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $baby-x: 0px;
  $baby-y: 333px;
  $baby-offset-x: 0px;
  $baby-offset-y: -333px;
  $baby-width: 32px;
  $baby-height: 32px;
  $baby-total-width: 32px;
  $baby-total-height: 5582px;
  $baby-image: '../public/img/spritesheet.png';
  $baby: 0px 333px 0px -333px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $bill-x: 0px;
  $bill-y: 370px;
  $bill-offset-x: 0px;
  $bill-offset-y: -370px;
  $bill-width: 32px;
  $bill-height: 32px;
  $bill-total-width: 32px;
  $bill-total-height: 5582px;
  $bill-image: '../public/img/spritesheet.png';
  $bill: 0px 370px 0px -370px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $book-x: 0px;
  $book-y: 407px;
  $book-offset-x: 0px;
  $book-offset-y: -407px;
  $book-width: 32px;
  $book-height: 32px;
  $book-total-width: 32px;
  $book-total-height: 5582px;
  $book-image: '../public/img/spritesheet.png';
  $book: 0px 407px 0px -407px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $bookmark-x: 0px;
  $bookmark-y: 444px;
  $bookmark-offset-x: 0px;
  $bookmark-offset-y: -444px;
  $bookmark-width: 32px;
  $bookmark-height: 32px;
  $bookmark-total-width: 32px;
  $bookmark-total-height: 5582px;
  $bookmark-image: '../public/img/spritesheet.png';
  $bookmark: 0px 444px 0px -444px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $box-x: 0px;
  $box-y: 481px;
  $box-offset-x: 0px;
  $box-offset-y: -481px;
  $box-width: 32px;
  $box-height: 32px;
  $box-total-width: 32px;
  $box-total-height: 5582px;
  $box-image: '../public/img/spritesheet.png';
  $box: 0px 481px 0px -481px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $bug-x: 0px;
  $bug-y: 518px;
  $bug-offset-x: 0px;
  $bug-offset-y: -518px;
  $bug-width: 32px;
  $bug-height: 32px;
  $bug-total-width: 32px;
  $bug-total-height: 5582px;
  $bug-image: '../public/img/spritesheet.png';
  $bug: 0px 518px 0px -518px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $building-x: 0px;
  $building-y: 555px;
  $building-offset-x: 0px;
  $building-offset-y: -555px;
  $building-width: 32px;
  $building-height: 32px;
  $building-total-width: 32px;
  $building-total-height: 5582px;
  $building-image: '../public/img/spritesheet.png';
  $building: 0px 555px 0px -555px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $bus-x: 0px;
  $bus-y: 592px;
  $bus-offset-x: 0px;
  $bus-offset-y: -592px;
  $bus-width: 32px;
  $bus-height: 32px;
  $bus-total-width: 32px;
  $bus-total-height: 5582px;
  $bus-image: '../public/img/spritesheet.png';
  $bus: 0px 592px 0px -592px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $cake-x: 0px;
  $cake-y: 629px;
  $cake-offset-x: 0px;
  $cake-offset-y: -629px;
  $cake-width: 32px;
  $cake-height: 32px;
  $cake-total-width: 32px;
  $cake-total-height: 5582px;
  $cake-image: '../public/img/spritesheet.png';
  $cake: 0px 629px 0px -629px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $calculator-x: 0px;
  $calculator-y: 666px;
  $calculator-offset-x: 0px;
  $calculator-offset-y: -666px;
  $calculator-width: 32px;
  $calculator-height: 32px;
  $calculator-total-width: 32px;
  $calculator-total-height: 5582px;
  $calculator-image: '../public/img/spritesheet.png';
  $calculator: 0px 666px 0px -666px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $calendar-x: 0px;
  $calendar-y: 703px;
  $calendar-offset-x: 0px;
  $calendar-offset-y: -703px;
  $calendar-width: 32px;
  $calendar-height: 32px;
  $calendar-total-width: 32px;
  $calendar-total-height: 5582px;
  $calendar-image: '../public/img/spritesheet.png';
  $calendar: 0px 703px 0px -703px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $camera-x: 0px;
  $camera-y: 740px;
  $camera-offset-x: 0px;
  $camera-offset-y: -740px;
  $camera-width: 32px;
  $camera-height: 32px;
  $camera-total-width: 32px;
  $camera-total-height: 5582px;
  $camera-image: '../public/img/spritesheet.png';
  $camera: 0px 740px 0px -740px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $car-x: 0px;
  $car-y: 777px;
  $car-offset-x: 0px;
  $car-offset-y: -777px;
  $car-width: 32px;
  $car-height: 32px;
  $car-total-width: 32px;
  $car-total-height: 5582px;
  $car-image: '../public/img/spritesheet.png';
  $car: 0px 777px 0px -777px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $cash-x: 0px;
  $cash-y: 814px;
  $cash-offset-x: 0px;
  $cash-offset-y: -814px;
  $cash-width: 32px;
  $cash-height: 32px;
  $cash-total-width: 32px;
  $cash-total-height: 5582px;
  $cash-image: '../public/img/spritesheet.png';
  $cash: 0px 814px 0px -814px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $cat-x: 0px;
  $cat-y: 851px;
  $cat-offset-x: 0px;
  $cat-offset-y: -851px;
  $cat-width: 32px;
  $cat-height: 32px;
  $cat-total-width: 32px;
  $cat-total-height: 5582px;
  $cat-image: '../public/img/spritesheet.png';
  $cat: 0px 851px 0px -851px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $chat-x: 0px;
  $chat-y: 888px;
  $chat-offset-x: 0px;
  $chat-offset-y: -888px;
  $chat-width: 32px;
  $chat-height: 32px;
  $chat-total-width: 32px;
  $chat-total-height: 5582px;
  $chat-image: '../public/img/spritesheet.png';
  $chat: 0px 888px 0px -888px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $christmas-x: 0px;
  $christmas-y: 925px;
  $christmas-offset-x: 0px;
  $christmas-offset-y: -925px;
  $christmas-width: 32px;
  $christmas-height: 32px;
  $christmas-total-width: 32px;
  $christmas-total-height: 5582px;
  $christmas-image: '../public/img/spritesheet.png';
  $christmas: 0px 925px 0px -925px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $chrome-x: 0px;
  $chrome-y: 962px;
  $chrome-offset-x: 0px;
  $chrome-offset-y: -962px;
  $chrome-width: 32px;
  $chrome-height: 32px;
  $chrome-total-width: 32px;
  $chrome-total-height: 5582px;
  $chrome-image: '../public/img/spritesheet.png';
  $chrome: 0px 962px 0px -962px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $click-x: 0px;
  $click-y: 999px;
  $click-offset-x: 0px;
  $click-offset-y: -999px;
  $click-width: 32px;
  $click-height: 32px;
  $click-total-width: 32px;
  $click-total-height: 5582px;
  $click-image: '../public/img/spritesheet.png';
  $click: 0px 999px 0px -999px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $clock-x: 0px;
  $clock-y: 1036px;
  $clock-offset-x: 0px;
  $clock-offset-y: -1036px;
  $clock-width: 32px;
  $clock-height: 32px;
  $clock-total-width: 32px;
  $clock-total-height: 5582px;
  $clock-image: '../public/img/spritesheet.png';
  $clock: 0px 1036px 0px -1036px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $close-x: 0px;
  $close-y: 1073px;
  $close-offset-x: 0px;
  $close-offset-y: -1073px;
  $close-width: 32px;
  $close-height: 32px;
  $close-total-width: 32px;
  $close-total-height: 5582px;
  $close-image: '../public/img/spritesheet.png';
  $close: 0px 1073px 0px -1073px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $cloud-x: 0px;
  $cloud-y: 1110px;
  $cloud-offset-x: 0px;
  $cloud-offset-y: -1110px;
  $cloud-width: 32px;
  $cloud-height: 32px;
  $cloud-total-width: 32px;
  $cloud-total-height: 5582px;
  $cloud-image: '../public/img/spritesheet.png';
  $cloud: 0px 1110px 0px -1110px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $code-x: 0px;
  $code-y: 1147px;
  $code-offset-x: 0px;
  $code-offset-y: -1147px;
  $code-width: 32px;
  $code-height: 32px;
  $code-total-width: 32px;
  $code-total-height: 5582px;
  $code-image: '../public/img/spritesheet.png';
  $code: 0px 1147px 0px -1147px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $coffee-x: 0px;
  $coffee-y: 1184px;
  $coffee-offset-x: 0px;
  $coffee-offset-y: -1184px;
  $coffee-width: 32px;
  $coffee-height: 32px;
  $coffee-total-width: 32px;
  $coffee-total-height: 5582px;
  $coffee-image: '../public/img/spritesheet.png';
  $coffee: 0px 1184px 0px -1184px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $coin-x: 0px;
  $coin-y: 1221px;
  $coin-offset-x: 0px;
  $coin-offset-y: -1221px;
  $coin-width: 32px;
  $coin-height: 32px;
  $coin-total-width: 32px;
  $coin-total-height: 5582px;
  $coin-image: '../public/img/spritesheet.png';
  $coin: 0px 1221px 0px -1221px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $comment-x: 0px;
  $comment-y: 1258px;
  $comment-offset-x: 0px;
  $comment-offset-y: -1258px;
  $comment-width: 32px;
  $comment-height: 32px;
  $comment-total-width: 32px;
  $comment-total-height: 5582px;
  $comment-image: '../public/img/spritesheet.png';
  $comment: 0px 1258px 0px -1258px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $compass-x: 0px;
  $compass-y: 1295px;
  $compass-offset-x: 0px;
  $compass-offset-y: -1295px;
  $compass-width: 32px;
  $compass-height: 32px;
  $compass-total-width: 32px;
  $compass-total-height: 5582px;
  $compass-image: '../public/img/spritesheet.png';
  $compass: 0px 1295px 0px -1295px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $computer-x: 0px;
  $computer-y: 1332px;
  $computer-offset-x: 0px;
  $computer-offset-y: -1332px;
  $computer-width: 32px;
  $computer-height: 32px;
  $computer-total-width: 32px;
  $computer-total-height: 5582px;
  $computer-image: '../public/img/spritesheet.png';
  $computer: 0px 1332px 0px -1332px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $construction-x: 0px;
  $construction-y: 1369px;
  $construction-offset-x: 0px;
  $construction-offset-y: -1369px;
  $construction-width: 32px;
  $construction-height: 32px;
  $construction-total-width: 32px;
  $construction-total-height: 5582px;
  $construction-image: '../public/img/spritesheet.png';
  $construction: 0px 1369px 0px -1369px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $copy-x: 0px;
  $copy-y: 1406px;
  $copy-offset-x: 0px;
  $copy-offset-y: -1406px;
  $copy-width: 32px;
  $copy-height: 32px;
  $copy-total-width: 32px;
  $copy-total-height: 5582px;
  $copy-image: '../public/img/spritesheet.png';
  $copy: 0px 1406px 0px -1406px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $credit-card-x: 0px;
  $credit-card-y: 1443px;
  $credit-card-offset-x: 0px;
  $credit-card-offset-y: -1443px;
  $credit-card-width: 32px;
  $credit-card-height: 32px;
  $credit-card-total-width: 32px;
  $credit-card-total-height: 5582px;
  $credit-card-image: '../public/img/spritesheet.png';
  $credit-card: 0px 1443px 0px -1443px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $cut-x: 0px;
  $cut-y: 1480px;
  $cut-offset-x: 0px;
  $cut-offset-y: -1480px;
  $cut-width: 32px;
  $cut-height: 32px;
  $cut-total-width: 32px;
  $cut-total-height: 5582px;
  $cut-image: '../public/img/spritesheet.png';
  $cut: 0px 1480px 0px -1480px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $dashboard-x: 0px;
  $dashboard-y: 1517px;
  $dashboard-offset-x: 0px;
  $dashboard-offset-y: -1517px;
  $dashboard-width: 32px;
  $dashboard-height: 32px;
  $dashboard-total-width: 32px;
  $dashboard-total-height: 5582px;
  $dashboard-image: '../public/img/spritesheet.png';
  $dashboard: 0px 1517px 0px -1517px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $database-x: 0px;
  $database-y: 1554px;
  $database-offset-x: 0px;
  $database-offset-y: -1554px;
  $database-width: 32px;
  $database-height: 32px;
  $database-total-width: 32px;
  $database-total-height: 5582px;
  $database-image: '../public/img/spritesheet.png';
  $database: 0px 1554px 0px -1554px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $document-x: 0px;
  $document-y: 1591px;
  $document-offset-x: 0px;
  $document-offset-y: -1591px;
  $document-width: 32px;
  $document-height: 32px;
  $document-total-width: 32px;
  $document-total-height: 5582px;
  $document-image: '../public/img/spritesheet.png';
  $document: 0px 1591px 0px -1591px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $dog-x: 0px;
  $dog-y: 1628px;
  $dog-offset-x: 0px;
  $dog-offset-y: -1628px;
  $dog-width: 32px;
  $dog-height: 32px;
  $dog-total-width: 32px;
  $dog-total-height: 5582px;
  $dog-image: '../public/img/spritesheet.png';
  $dog: 0px 1628px 0px -1628px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $download-x: 0px;
  $download-y: 1665px;
  $download-offset-x: 0px;
  $download-offset-y: -1665px;
  $download-width: 32px;
  $download-height: 32px;
  $download-total-width: 32px;
  $download-total-height: 5582px;
  $download-image: '../public/img/spritesheet.png';
  $download: 0px 1665px 0px -1665px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $edit-x: 0px;
  $edit-y: 1702px;
  $edit-offset-x: 0px;
  $edit-offset-y: -1702px;
  $edit-width: 32px;
  $edit-height: 32px;
  $edit-total-width: 32px;
  $edit-total-height: 5582px;
  $edit-image: '../public/img/spritesheet.png';
  $edit: 0px 1702px 0px -1702px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $edit2-x: 0px;
  $edit2-y: 1739px;
  $edit2-offset-x: 0px;
  $edit2-offset-y: -1739px;
  $edit2-width: 32px;
  $edit2-height: 32px;
  $edit2-total-width: 32px;
  $edit2-total-height: 5582px;
  $edit2-image: '../public/img/spritesheet.png';
  $edit2: 0px 1739px 0px -1739px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $exit-x: 0px;
  $exit-y: 1776px;
  $exit-offset-x: 0px;
  $exit-offset-y: -1776px;
  $exit-width: 32px;
  $exit-height: 32px;
  $exit-total-width: 32px;
  $exit-total-height: 5582px;
  $exit-image: '../public/img/spritesheet.png';
  $exit: 0px 1776px 0px -1776px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $eye-x: 0px;
  $eye-y: 1813px;
  $eye-offset-x: 0px;
  $eye-offset-y: -1813px;
  $eye-width: 32px;
  $eye-height: 32px;
  $eye-total-width: 32px;
  $eye-total-height: 5582px;
  $eye-image: '../public/img/spritesheet.png';
  $eye: 0px 1813px 0px -1813px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $facebook-x: 0px;
  $facebook-y: 1850px;
  $facebook-offset-x: 0px;
  $facebook-offset-y: -1850px;
  $facebook-width: 32px;
  $facebook-height: 32px;
  $facebook-total-width: 32px;
  $facebook-total-height: 5582px;
  $facebook-image: '../public/img/spritesheet.png';
  $facebook: 0px 1850px 0px -1850px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $fire-x: 0px;
  $fire-y: 1887px;
  $fire-offset-x: 0px;
  $fire-offset-y: -1887px;
  $fire-width: 32px;
  $fire-height: 32px;
  $fire-total-width: 32px;
  $fire-total-height: 5582px;
  $fire-image: '../public/img/spritesheet.png';
  $fire: 0px 1887px 0px -1887px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $firefox-x: 0px;
  $firefox-y: 1924px;
  $firefox-offset-x: 0px;
  $firefox-offset-y: -1924px;
  $firefox-width: 32px;
  $firefox-height: 32px;
  $firefox-total-width: 32px;
  $firefox-total-height: 5582px;
  $firefox-image: '../public/img/spritesheet.png';
  $firefox: 0px 1924px 0px -1924px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $fish-x: 0px;
  $fish-y: 1961px;
  $fish-offset-x: 0px;
  $fish-offset-y: -1961px;
  $fish-width: 32px;
  $fish-height: 32px;
  $fish-total-width: 32px;
  $fish-total-height: 5582px;
  $fish-image: '../public/img/spritesheet.png';
  $fish: 0px 1961px 0px -1961px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $flag-x: 0px;
  $flag-y: 1998px;
  $flag-offset-x: 0px;
  $flag-offset-y: -1998px;
  $flag-width: 32px;
  $flag-height: 32px;
  $flag-total-width: 32px;
  $flag-total-height: 5582px;
  $flag-image: '../public/img/spritesheet.png';
  $flag: 0px 1998px 0px -1998px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $folder-x: 0px;
  $folder-y: 2035px;
  $folder-offset-x: 0px;
  $folder-offset-y: -2035px;
  $folder-width: 32px;
  $folder-height: 32px;
  $folder-total-width: 32px;
  $folder-total-height: 5582px;
  $folder-image: '../public/img/spritesheet.png';
  $folder: 0px 2035px 0px -2035px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $font-x: 0px;
  $font-y: 2072px;
  $font-offset-x: 0px;
  $font-offset-y: -2072px;
  $font-width: 32px;
  $font-height: 32px;
  $font-total-width: 32px;
  $font-total-height: 5582px;
  $font-image: '../public/img/spritesheet.png';
  $font: 0px 2072px 0px -2072px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $food-x: 0px;
  $food-y: 2109px;
  $food-offset-x: 0px;
  $food-offset-y: -2109px;
  $food-width: 32px;
  $food-height: 32px;
  $food-total-width: 32px;
  $food-total-height: 5582px;
  $food-image: '../public/img/spritesheet.png';
  $food: 0px 2109px 0px -2109px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $football-x: 0px;
  $football-y: 2146px;
  $football-offset-x: 0px;
  $football-offset-y: -2146px;
  $football-width: 32px;
  $football-height: 32px;
  $football-total-width: 32px;
  $football-total-height: 5582px;
  $football-image: '../public/img/spritesheet.png';
  $football: 0px 2146px 0px -2146px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $game-x: 0px;
  $game-y: 2183px;
  $game-offset-x: 0px;
  $game-offset-y: -2183px;
  $game-width: 32px;
  $game-height: 32px;
  $game-total-width: 32px;
  $game-total-height: 5582px;
  $game-image: '../public/img/spritesheet.png';
  $game: 0px 2183px 0px -2183px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $gift-x: 0px;
  $gift-y: 2220px;
  $gift-offset-x: 0px;
  $gift-offset-y: -2220px;
  $gift-width: 32px;
  $gift-height: 32px;
  $gift-total-width: 32px;
  $gift-total-height: 5582px;
  $gift-image: '../public/img/spritesheet.png';
  $gift: 0px 2220px 0px -2220px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $google-x: 0px;
  $google-y: 2257px;
  $google-offset-x: 0px;
  $google-offset-y: -2257px;
  $google-width: 32px;
  $google-height: 32px;
  $google-total-width: 32px;
  $google-total-height: 5582px;
  $google-image: '../public/img/spritesheet.png';
  $google: 0px 2257px 0px -2257px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $graph-x: 0px;
  $graph-y: 2294px;
  $graph-offset-x: 0px;
  $graph-offset-y: -2294px;
  $graph-width: 32px;
  $graph-height: 32px;
  $graph-total-width: 32px;
  $graph-total-height: 5582px;
  $graph-image: '../public/img/spritesheet.png';
  $graph: 0px 2294px 0px -2294px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $hand-x: 0px;
  $hand-y: 2331px;
  $hand-offset-x: 0px;
  $hand-offset-y: -2331px;
  $hand-width: 32px;
  $hand-height: 32px;
  $hand-total-width: 32px;
  $hand-total-height: 5582px;
  $hand-image: '../public/img/spritesheet.png';
  $hand: 0px 2331px 0px -2331px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $heart-x: 0px;
  $heart-y: 2368px;
  $heart-offset-x: 0px;
  $heart-offset-y: -2368px;
  $heart-width: 32px;
  $heart-height: 32px;
  $heart-total-width: 32px;
  $heart-total-height: 5582px;
  $heart-image: '../public/img/spritesheet.png';
  $heart: 0px 2368px 0px -2368px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $help-x: 0px;
  $help-y: 2405px;
  $help-offset-x: 0px;
  $help-offset-y: -2405px;
  $help-width: 32px;
  $help-height: 32px;
  $help-total-width: 32px;
  $help-total-height: 5582px;
  $help-image: '../public/img/spritesheet.png';
  $help: 0px 2405px 0px -2405px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $home-x: 0px;
  $home-y: 2442px;
  $home-offset-x: 0px;
  $home-offset-y: -2442px;
  $home-width: 32px;
  $home-height: 32px;
  $home-total-width: 32px;
  $home-total-height: 5582px;
  $home-image: '../public/img/spritesheet.png';
  $home: 0px 2442px 0px -2442px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $idea-x: 0px;
  $idea-y: 2479px;
  $idea-offset-x: 0px;
  $idea-offset-y: -2479px;
  $idea-width: 32px;
  $idea-height: 32px;
  $idea-total-width: 32px;
  $idea-total-height: 5582px;
  $idea-image: '../public/img/spritesheet.png';
  $idea: 0px 2479px 0px -2479px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $inbox-x: 0px;
  $inbox-y: 2516px;
  $inbox-offset-x: 0px;
  $inbox-offset-y: -2516px;
  $inbox-width: 32px;
  $inbox-height: 32px;
  $inbox-total-width: 32px;
  $inbox-total-height: 5582px;
  $inbox-image: '../public/img/spritesheet.png';
  $inbox: 0px 2516px 0px -2516px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $joystick-x: 0px;
  $joystick-y: 2553px;
  $joystick-offset-x: 0px;
  $joystick-offset-y: -2553px;
  $joystick-width: 32px;
  $joystick-height: 32px;
  $joystick-total-width: 32px;
  $joystick-total-height: 5582px;
  $joystick-image: '../public/img/spritesheet.png';
  $joystick: 0px 2553px 0px -2553px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $key-x: 0px;
  $key-y: 2590px;
  $key-offset-x: 0px;
  $key-offset-y: -2590px;
  $key-width: 32px;
  $key-height: 32px;
  $key-total-width: 32px;
  $key-total-height: 5582px;
  $key-image: '../public/img/spritesheet.png';
  $key: 0px 2590px 0px -2590px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $label-x: 0px;
  $label-y: 2627px;
  $label-offset-x: 0px;
  $label-offset-y: -2627px;
  $label-width: 32px;
  $label-height: 32px;
  $label-total-width: 32px;
  $label-total-height: 5582px;
  $label-image: '../public/img/spritesheet.png';
  $label: 0px 2627px 0px -2627px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $leaf-x: 0px;
  $leaf-y: 2664px;
  $leaf-offset-x: 0px;
  $leaf-offset-y: -2664px;
  $leaf-width: 32px;
  $leaf-height: 32px;
  $leaf-total-width: 32px;
  $leaf-total-height: 5582px;
  $leaf-image: '../public/img/spritesheet.png';
  $leaf: 0px 2664px 0px -2664px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $lightbulb-x: 0px;
  $lightbulb-y: 2701px;
  $lightbulb-offset-x: 0px;
  $lightbulb-offset-y: -2701px;
  $lightbulb-width: 32px;
  $lightbulb-height: 32px;
  $lightbulb-total-width: 32px;
  $lightbulb-total-height: 5582px;
  $lightbulb-image: '../public/img/spritesheet.png';
  $lightbulb: 0px 2701px 0px -2701px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $lightning-x: 0px;
  $lightning-y: 2738px;
  $lightning-offset-x: 0px;
  $lightning-offset-y: -2738px;
  $lightning-width: 32px;
  $lightning-height: 32px;
  $lightning-total-width: 32px;
  $lightning-total-height: 5582px;
  $lightning-image: '../public/img/spritesheet.png';
  $lightning: 0px 2738px 0px -2738px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $link-x: 0px;
  $link-y: 0px;
  $link-offset-x: 0px;
  $link-offset-y: 0px;
  $link-width: 32px;
  $link-height: 32px;
  $link-total-width: 32px;
  $link-total-height: 5582px;
  $link-image: '../public/img/spritesheet.png';
  $link: 0px 0px 0px 0px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $linkin-x: 0px;
  $linkin-y: 2812px;
  $linkin-offset-x: 0px;
  $linkin-offset-y: -2812px;
  $linkin-width: 32px;
  $linkin-height: 32px;
  $linkin-total-width: 32px;
  $linkin-total-height: 5582px;
  $linkin-image: '../public/img/spritesheet.png';
  $linkin: 0px 2812px 0px -2812px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $list-x: 0px;
  $list-y: 2849px;
  $list-offset-x: 0px;
  $list-offset-y: -2849px;
  $list-width: 32px;
  $list-height: 32px;
  $list-total-width: 32px;
  $list-total-height: 5582px;
  $list-image: '../public/img/spritesheet.png';
  $list: 0px 2849px 0px -2849px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $loading-x: 0px;
  $loading-y: 2886px;
  $loading-offset-x: 0px;
  $loading-offset-y: -2886px;
  $loading-width: 32px;
  $loading-height: 32px;
  $loading-total-width: 32px;
  $loading-total-height: 5582px;
  $loading-image: '../public/img/spritesheet.png';
  $loading: 0px 2886px 0px -2886px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $location-pin-x: 0px;
  $location-pin-y: 2923px;
  $location-pin-offset-x: 0px;
  $location-pin-offset-y: -2923px;
  $location-pin-width: 32px;
  $location-pin-height: 32px;
  $location-pin-total-width: 32px;
  $location-pin-total-height: 5582px;
  $location-pin-image: '../public/img/spritesheet.png';
  $location-pin: 0px 2923px 0px -2923px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $lock-x: 0px;
  $lock-y: 2960px;
  $lock-offset-x: 0px;
  $lock-offset-y: -2960px;
  $lock-width: 32px;
  $lock-height: 32px;
  $lock-total-width: 32px;
  $lock-total-height: 5582px;
  $lock-image: '../public/img/spritesheet.png';
  $lock: 0px 2960px 0px -2960px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $login-x: 0px;
  $login-y: 2997px;
  $login-offset-x: 0px;
  $login-offset-y: -2997px;
  $login-width: 32px;
  $login-height: 32px;
  $login-total-width: 32px;
  $login-total-height: 5582px;
  $login-image: '../public/img/spritesheet.png';
  $login: 0px 2997px 0px -2997px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $mail-x: 0px;
  $mail-y: 3034px;
  $mail-offset-x: 0px;
  $mail-offset-y: -3034px;
  $mail-width: 32px;
  $mail-height: 32px;
  $mail-total-width: 32px;
  $mail-total-height: 5582px;
  $mail-image: '../public/img/spritesheet.png';
  $mail: 0px 3034px 0px -3034px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $map-x: 0px;
  $map-y: 3071px;
  $map-offset-x: 0px;
  $map-offset-y: -3071px;
  $map-width: 32px;
  $map-height: 32px;
  $map-total-width: 32px;
  $map-total-height: 5582px;
  $map-image: '../public/img/spritesheet.png';
  $map: 0px 3071px 0px -3071px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $market-x: 0px;
  $market-y: 3108px;
  $market-offset-x: 0px;
  $market-offset-y: -3108px;
  $market-width: 32px;
  $market-height: 32px;
  $market-total-width: 32px;
  $market-total-height: 5582px;
  $market-image: '../public/img/spritesheet.png';
  $market: 0px 3108px 0px -3108px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $medal-x: 0px;
  $medal-y: 3145px;
  $medal-offset-x: 0px;
  $medal-offset-y: -3145px;
  $medal-width: 32px;
  $medal-height: 32px;
  $medal-total-width: 32px;
  $medal-total-height: 5582px;
  $medal-image: '../public/img/spritesheet.png';
  $medal: 0px 3145px 0px -3145px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $mic-x: 0px;
  $mic-y: 3182px;
  $mic-offset-x: 0px;
  $mic-offset-y: -3182px;
  $mic-width: 32px;
  $mic-height: 32px;
  $mic-total-width: 32px;
  $mic-total-height: 5582px;
  $mic-image: '../public/img/spritesheet.png';
  $mic: 0px 3182px 0px -3182px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $mobile-x: 0px;
  $mobile-y: 3219px;
  $mobile-offset-x: 0px;
  $mobile-offset-y: -3219px;
  $mobile-width: 32px;
  $mobile-height: 32px;
  $mobile-total-width: 32px;
  $mobile-total-height: 5582px;
  $mobile-image: '../public/img/spritesheet.png';
  $mobile: 0px 3219px 0px -3219px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $mouse-x: 0px;
  $mouse-y: 3256px;
  $mouse-offset-x: 0px;
  $mouse-offset-y: -3256px;
  $mouse-width: 32px;
  $mouse-height: 32px;
  $mouse-total-width: 32px;
  $mouse-total-height: 5582px;
  $mouse-image: '../public/img/spritesheet.png';
  $mouse: 0px 3256px 0px -3256px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $movie-x: 0px;
  $movie-y: 3293px;
  $movie-offset-x: 0px;
  $movie-offset-y: -3293px;
  $movie-width: 32px;
  $movie-height: 32px;
  $movie-total-width: 32px;
  $movie-total-height: 5582px;
  $movie-image: '../public/img/spritesheet.png';
  $movie: 0px 3293px 0px -3293px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $music-x: 0px;
  $music-y: 3330px;
  $music-offset-x: 0px;
  $music-offset-y: -3330px;
  $music-width: 32px;
  $music-height: 32px;
  $music-total-width: 32px;
  $music-total-height: 5582px;
  $music-image: '../public/img/spritesheet.png';
  $music: 0px 3330px 0px -3330px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $network-x: 0px;
  $network-y: 3367px;
  $network-offset-x: 0px;
  $network-offset-y: -3367px;
  $network-width: 32px;
  $network-height: 32px;
  $network-total-width: 32px;
  $network-total-height: 5582px;
  $network-image: '../public/img/spritesheet.png';
  $network: 0px 3367px 0px -3367px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $news-x: 0px;
  $news-y: 3404px;
  $news-offset-x: 0px;
  $news-offset-y: -3404px;
  $news-width: 32px;
  $news-height: 32px;
  $news-total-width: 32px;
  $news-total-height: 5582px;
  $news-image: '../public/img/spritesheet.png';
  $news: 0px 3404px 0px -3404px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $ok-x: 0px;
  $ok-y: 3441px;
  $ok-offset-x: 0px;
  $ok-offset-y: -3441px;
  $ok-width: 32px;
  $ok-height: 32px;
  $ok-total-width: 32px;
  $ok-total-height: 5582px;
  $ok-image: '../public/img/spritesheet.png';
  $ok: 0px 3441px 0px -3441px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $paste-x: 0px;
  $paste-y: 3478px;
  $paste-offset-x: 0px;
  $paste-offset-y: -3478px;
  $paste-width: 32px;
  $paste-height: 32px;
  $paste-total-width: 32px;
  $paste-total-height: 5582px;
  $paste-image: '../public/img/spritesheet.png';
  $paste: 0px 3478px 0px -3478px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $pdf-x: 0px;
  $pdf-y: 3515px;
  $pdf-offset-x: 0px;
  $pdf-offset-y: -3515px;
  $pdf-width: 32px;
  $pdf-height: 32px;
  $pdf-total-width: 32px;
  $pdf-total-height: 5582px;
  $pdf-image: '../public/img/spritesheet.png';
  $pdf: 0px 3515px 0px -3515px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $pen-x: 0px;
  $pen-y: 3552px;
  $pen-offset-x: 0px;
  $pen-offset-y: -3552px;
  $pen-width: 32px;
  $pen-height: 32px;
  $pen-total-width: 32px;
  $pen-total-height: 5582px;
  $pen-image: '../public/img/spritesheet.png';
  $pen: 0px 3552px 0px -3552px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $phone-x: 0px;
  $phone-y: 3589px;
  $phone-offset-x: 0px;
  $phone-offset-y: -3589px;
  $phone-width: 32px;
  $phone-height: 32px;
  $phone-total-width: 32px;
  $phone-total-height: 5582px;
  $phone-image: '../public/img/spritesheet.png';
  $phone: 0px 3589px 0px -3589px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $picture-x: 0px;
  $picture-y: 3626px;
  $picture-offset-x: 0px;
  $picture-offset-y: -3626px;
  $picture-width: 32px;
  $picture-height: 32px;
  $picture-total-width: 32px;
  $picture-total-height: 5582px;
  $picture-image: '../public/img/spritesheet.png';
  $picture: 0px 3626px 0px -3626px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $piechart-x: 0px;
  $piechart-y: 3663px;
  $piechart-offset-x: 0px;
  $piechart-offset-y: -3663px;
  $piechart-width: 32px;
  $piechart-height: 32px;
  $piechart-total-width: 32px;
  $piechart-total-height: 5582px;
  $piechart-image: '../public/img/spritesheet.png';
  $piechart: 0px 3663px 0px -3663px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $pig-x: 0px;
  $pig-y: 3700px;
  $pig-offset-x: 0px;
  $pig-offset-y: -3700px;
  $pig-width: 32px;
  $pig-height: 32px;
  $pig-total-width: 32px;
  $pig-total-height: 5582px;
  $pig-image: '../public/img/spritesheet.png';
  $pig: 0px 3700px 0px -3700px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $pinterest-x: 0px;
  $pinterest-y: 3737px;
  $pinterest-offset-x: 0px;
  $pinterest-offset-y: -3737px;
  $pinterest-width: 32px;
  $pinterest-height: 32px;
  $pinterest-total-width: 32px;
  $pinterest-total-height: 5582px;
  $pinterest-image: '../public/img/spritesheet.png';
  $pinterest: 0px 3737px 0px -3737px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $plane-x: 0px;
  $plane-y: 3774px;
  $plane-offset-x: 0px;
  $plane-offset-y: -3774px;
  $plane-width: 32px;
  $plane-height: 32px;
  $plane-total-width: 32px;
  $plane-total-height: 5582px;
  $plane-image: '../public/img/spritesheet.png';
  $plane: 0px 3774px 0px -3774px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $play-x: 0px;
  $play-y: 3811px;
  $play-offset-x: 0px;
  $play-offset-y: -3811px;
  $play-width: 32px;
  $play-height: 32px;
  $play-total-width: 32px;
  $play-total-height: 5582px;
  $play-image: '../public/img/spritesheet.png';
  $play: 0px 3811px 0px -3811px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $printer-x: 0px;
  $printer-y: 3848px;
  $printer-offset-x: 0px;
  $printer-offset-y: -3848px;
  $printer-width: 32px;
  $printer-height: 32px;
  $printer-total-width: 32px;
  $printer-total-height: 5582px;
  $printer-image: '../public/img/spritesheet.png';
  $printer: 0px 3848px 0px -3848px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $ps-x: 0px;
  $ps-y: 3885px;
  $ps-offset-x: 0px;
  $ps-offset-y: -3885px;
  $ps-width: 32px;
  $ps-height: 32px;
  $ps-total-width: 32px;
  $ps-total-height: 5582px;
  $ps-image: '../public/img/spritesheet.png';
  $ps: 0px 3885px 0px -3885px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $question-x: 0px;
  $question-y: 3922px;
  $question-offset-x: 0px;
  $question-offset-y: -3922px;
  $question-width: 32px;
  $question-height: 32px;
  $question-total-width: 32px;
  $question-total-height: 5582px;
  $question-image: '../public/img/spritesheet.png';
  $question: 0px 3922px 0px -3922px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $redo-x: 0px;
  $redo-y: 3959px;
  $redo-offset-x: 0px;
  $redo-offset-y: -3959px;
  $redo-width: 32px;
  $redo-height: 32px;
  $redo-total-width: 32px;
  $redo-total-height: 5582px;
  $redo-image: '../public/img/spritesheet.png';
  $redo: 0px 3959px 0px -3959px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $robot-x: 0px;
  $robot-y: 3996px;
  $robot-offset-x: 0px;
  $robot-offset-y: -3996px;
  $robot-width: 32px;
  $robot-height: 32px;
  $robot-total-width: 32px;
  $robot-total-height: 5582px;
  $robot-image: '../public/img/spritesheet.png';
  $robot: 0px 3996px 0px -3996px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $rss-x: 0px;
  $rss-y: 4033px;
  $rss-offset-x: 0px;
  $rss-offset-y: -4033px;
  $rss-width: 32px;
  $rss-height: 32px;
  $rss-total-width: 32px;
  $rss-total-height: 5582px;
  $rss-image: '../public/img/spritesheet.png';
  $rss: 0px 4033px 0px -4033px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $rubbishbin-x: 0px;
  $rubbishbin-y: 4070px;
  $rubbishbin-offset-x: 0px;
  $rubbishbin-offset-y: -4070px;
  $rubbishbin-width: 32px;
  $rubbishbin-height: 32px;
  $rubbishbin-total-width: 32px;
  $rubbishbin-total-height: 5582px;
  $rubbishbin-image: '../public/img/spritesheet.png';
  $rubbishbin: 0px 4070px 0px -4070px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $safari-x: 0px;
  $safari-y: 4107px;
  $safari-offset-x: 0px;
  $safari-offset-y: -4107px;
  $safari-width: 32px;
  $safari-height: 32px;
  $safari-total-width: 32px;
  $safari-total-height: 5582px;
  $safari-image: '../public/img/spritesheet.png';
  $safari: 0px 4107px 0px -4107px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $save-x: 0px;
  $save-y: 4144px;
  $save-offset-x: 0px;
  $save-offset-y: -4144px;
  $save-width: 32px;
  $save-height: 32px;
  $save-total-width: 32px;
  $save-total-height: 5582px;
  $save-image: '../public/img/spritesheet.png';
  $save: 0px 4144px 0px -4144px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $search-x: 0px;
  $search-y: 4181px;
  $search-offset-x: 0px;
  $search-offset-y: -4181px;
  $search-width: 32px;
  $search-height: 32px;
  $search-total-width: 32px;
  $search-total-height: 5582px;
  $search-image: '../public/img/spritesheet.png';
  $search: 0px 4181px 0px -4181px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $settings-x: 0px;
  $settings-y: 4218px;
  $settings-offset-x: 0px;
  $settings-offset-y: -4218px;
  $settings-width: 32px;
  $settings-height: 32px;
  $settings-total-width: 32px;
  $settings-total-height: 5582px;
  $settings-image: '../public/img/spritesheet.png';
  $settings: 0px 4218px 0px -4218px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $shield-x: 0px;
  $shield-y: 4255px;
  $shield-offset-x: 0px;
  $shield-offset-y: -4255px;
  $shield-width: 32px;
  $shield-height: 32px;
  $shield-total-width: 32px;
  $shield-total-height: 5582px;
  $shield-image: '../public/img/spritesheet.png';
  $shield: 0px 4255px 0px -4255px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $ship-x: 0px;
  $ship-y: 4292px;
  $ship-offset-x: 0px;
  $ship-offset-y: -4292px;
  $ship-width: 32px;
  $ship-height: 32px;
  $ship-total-width: 32px;
  $ship-total-height: 5582px;
  $ship-image: '../public/img/spritesheet.png';
  $ship: 0px 4292px 0px -4292px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $shop-x: 0px;
  $shop-y: 4329px;
  $shop-offset-x: 0px;
  $shop-offset-y: -4329px;
  $shop-width: 32px;
  $shop-height: 32px;
  $shop-total-width: 32px;
  $shop-total-height: 5582px;
  $shop-image: '../public/img/spritesheet.png';
  $shop: 0px 4329px 0px -4329px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $shopping-x: 0px;
  $shopping-y: 4366px;
  $shopping-offset-x: 0px;
  $shopping-offset-y: -4366px;
  $shopping-width: 32px;
  $shopping-height: 32px;
  $shopping-total-width: 32px;
  $shopping-total-height: 5582px;
  $shopping-image: '../public/img/spritesheet.png';
  $shopping: 0px 4366px 0px -4366px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $skype-x: 0px;
  $skype-y: 4403px;
  $skype-offset-x: 0px;
  $skype-offset-y: -4403px;
  $skype-width: 32px;
  $skype-height: 32px;
  $skype-total-width: 32px;
  $skype-total-height: 5582px;
  $skype-image: '../public/img/spritesheet.png';
  $skype: 0px 4403px 0px -4403px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $smile-x: 0px;
  $smile-y: 4440px;
  $smile-offset-x: 0px;
  $smile-offset-y: -4440px;
  $smile-width: 32px;
  $smile-height: 32px;
  $smile-total-width: 32px;
  $smile-total-height: 5582px;
  $smile-image: '../public/img/spritesheet.png';
  $smile: 0px 4440px 0px -4440px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $sound-x: 0px;
  $sound-y: 4477px;
  $sound-offset-x: 0px;
  $sound-offset-y: -4477px;
  $sound-width: 32px;
  $sound-height: 32px;
  $sound-total-width: 32px;
  $sound-total-height: 5582px;
  $sound-image: '../public/img/spritesheet.png';
  $sound: 0px 4477px 0px -4477px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $star-x: 0px;
  $star-y: 4514px;
  $star-offset-x: 0px;
  $star-offset-y: -4514px;
  $star-width: 32px;
  $star-height: 32px;
  $star-total-width: 32px;
  $star-total-height: 5582px;
  $star-image: '../public/img/spritesheet.png';
  $star: 0px 4514px 0px -4514px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $statastics-x: 0px;
  $statastics-y: 4551px;
  $statastics-offset-x: 0px;
  $statastics-offset-y: -4551px;
  $statastics-width: 32px;
  $statastics-height: 32px;
  $statastics-total-width: 32px;
  $statastics-total-height: 5582px;
  $statastics-image: '../public/img/spritesheet.png';
  $statastics: 0px 4551px 0px -4551px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $sun-x: 0px;
  $sun-y: 4588px;
  $sun-offset-x: 0px;
  $sun-offset-y: -4588px;
  $sun-width: 32px;
  $sun-height: 32px;
  $sun-total-width: 32px;
  $sun-total-height: 5582px;
  $sun-image: '../public/img/spritesheet.png';
  $sun: 0px 4588px 0px -4588px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $t-shirt-x: 0px;
  $t-shirt-y: 4625px;
  $t-shirt-offset-x: 0px;
  $t-shirt-offset-y: -4625px;
  $t-shirt-width: 32px;
  $t-shirt-height: 32px;
  $t-shirt-total-width: 32px;
  $t-shirt-total-height: 5582px;
  $t-shirt-image: '../public/img/spritesheet.png';
  $t-shirt: 0px 4625px 0px -4625px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $tag-x: 0px;
  $tag-y: 4662px;
  $tag-offset-x: 0px;
  $tag-offset-y: -4662px;
  $tag-width: 32px;
  $tag-height: 32px;
  $tag-total-width: 32px;
  $tag-total-height: 5582px;
  $tag-image: '../public/img/spritesheet.png';
  $tag: 0px 4662px 0px -4662px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $target-x: 0px;
  $target-y: 4699px;
  $target-offset-x: 0px;
  $target-offset-y: -4699px;
  $target-width: 32px;
  $target-height: 32px;
  $target-total-width: 32px;
  $target-total-height: 5582px;
  $target-image: '../public/img/spritesheet.png';
  $target: 0px 4699px 0px -4699px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $thumb-down-x: 0px;
  $thumb-down-y: 4736px;
  $thumb-down-offset-x: 0px;
  $thumb-down-offset-y: -4736px;
  $thumb-down-width: 32px;
  $thumb-down-height: 32px;
  $thumb-down-total-width: 32px;
  $thumb-down-total-height: 5582px;
  $thumb-down-image: '../public/img/spritesheet.png';
  $thumb-down: 0px 4736px 0px -4736px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $thumbup-x: 0px;
  $thumbup-y: 4773px;
  $thumbup-offset-x: 0px;
  $thumbup-offset-y: -4773px;
  $thumbup-width: 32px;
  $thumbup-height: 32px;
  $thumbup-total-width: 32px;
  $thumbup-total-height: 5582px;
  $thumbup-image: '../public/img/spritesheet.png';
  $thumbup: 0px 4773px 0px -4773px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $tie-x: 0px;
  $tie-y: 4810px;
  $tie-offset-x: 0px;
  $tie-offset-y: -4810px;
  $tie-width: 32px;
  $tie-height: 32px;
  $tie-total-width: 32px;
  $tie-total-height: 5582px;
  $tie-image: '../public/img/spritesheet.png';
  $tie: 0px 4810px 0px -4810px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $tools-x: 0px;
  $tools-y: 4847px;
  $tools-offset-x: 0px;
  $tools-offset-y: -4847px;
  $tools-width: 32px;
  $tools-height: 32px;
  $tools-total-width: 32px;
  $tools-total-height: 5582px;
  $tools-image: '../public/img/spritesheet.png';
  $tools: 0px 4847px 0px -4847px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $tree-x: 0px;
  $tree-y: 4884px;
  $tree-offset-x: 0px;
  $tree-offset-y: -4884px;
  $tree-width: 32px;
  $tree-height: 32px;
  $tree-total-width: 32px;
  $tree-total-height: 5582px;
  $tree-image: '../public/img/spritesheet.png';
  $tree: 0px 4884px 0px -4884px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $trophy-x: 0px;
  $trophy-y: 4921px;
  $trophy-offset-x: 0px;
  $trophy-offset-y: -4921px;
  $trophy-width: 32px;
  $trophy-height: 32px;
  $trophy-total-width: 32px;
  $trophy-total-height: 5582px;
  $trophy-image: '../public/img/spritesheet.png';
  $trophy: 0px 4921px 0px -4921px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $truck-x: 0px;
  $truck-y: 4958px;
  $truck-offset-x: 0px;
  $truck-offset-y: -4958px;
  $truck-width: 32px;
  $truck-height: 32px;
  $truck-total-width: 32px;
  $truck-total-height: 5582px;
  $truck-image: '../public/img/spritesheet.png';
  $truck: 0px 4958px 0px -4958px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $truck2-x: 0px;
  $truck2-y: 4995px;
  $truck2-offset-x: 0px;
  $truck2-offset-y: -4995px;
  $truck2-width: 32px;
  $truck2-height: 32px;
  $truck2-total-width: 32px;
  $truck2-total-height: 5582px;
  $truck2-image: '../public/img/spritesheet.png';
  $truck2: 0px 4995px 0px -4995px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $twitter-x: 0px;
  $twitter-y: 5032px;
  $twitter-offset-x: 0px;
  $twitter-offset-y: -5032px;
  $twitter-width: 32px;
  $twitter-height: 32px;
  $twitter-total-width: 32px;
  $twitter-total-height: 5582px;
  $twitter-image: '../public/img/spritesheet.png';
  $twitter: 0px 5032px 0px -5032px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $umbrella-x: 0px;
  $umbrella-y: 5069px;
  $umbrella-offset-x: 0px;
  $umbrella-offset-y: -5069px;
  $umbrella-width: 32px;
  $umbrella-height: 32px;
  $umbrella-total-width: 32px;
  $umbrella-total-height: 5582px;
  $umbrella-image: '../public/img/spritesheet.png';
  $umbrella: 0px 5069px 0px -5069px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $user-x: 0px;
  $user-y: 5106px;
  $user-offset-x: 0px;
  $user-offset-y: -5106px;
  $user-width: 32px;
  $user-height: 32px;
  $user-total-width: 32px;
  $user-total-height: 5582px;
  $user-image: '../public/img/spritesheet.png';
  $user: 0px 5106px 0px -5106px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $users-x: 0px;
  $users-y: 5143px;
  $users-offset-x: 0px;
  $users-offset-y: -5143px;
  $users-width: 32px;
  $users-height: 32px;
  $users-total-width: 32px;
  $users-total-height: 5582px;
  $users-image: '../public/img/spritesheet.png';
  $users: 0px 5143px 0px -5143px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $video-x: 0px;
  $video-y: 5180px;
  $video-offset-x: 0px;
  $video-offset-y: -5180px;
  $video-width: 32px;
  $video-height: 32px;
  $video-total-width: 32px;
  $video-total-height: 5582px;
  $video-image: '../public/img/spritesheet.png';
  $video: 0px 5180px 0px -5180px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $visa-x: 0px;
  $visa-y: 5217px;
  $visa-offset-x: 0px;
  $visa-offset-y: -5217px;
  $visa-width: 32px;
  $visa-height: 32px;
  $visa-total-width: 32px;
  $visa-total-height: 5582px;
  $visa-image: '../public/img/spritesheet.png';
  $visa: 0px 5217px 0px -5217px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $wallet-x: 0px;
  $wallet-y: 5254px;
  $wallet-offset-x: 0px;
  $wallet-offset-y: -5254px;
  $wallet-width: 32px;
  $wallet-height: 32px;
  $wallet-total-width: 32px;
  $wallet-total-height: 5582px;
  $wallet-image: '../public/img/spritesheet.png';
  $wallet: 0px 5254px 0px -5254px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $warning-x: 0px;
  $warning-y: 5291px;
  $warning-offset-x: 0px;
  $warning-offset-y: -5291px;
  $warning-width: 32px;
  $warning-height: 32px;
  $warning-total-width: 32px;
  $warning-total-height: 5582px;
  $warning-image: '../public/img/spritesheet.png';
  $warning: 0px 5291px 0px -5291px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $water-x: 0px;
  $water-y: 5328px;
  $water-offset-x: 0px;
  $water-offset-y: -5328px;
  $water-width: 32px;
  $water-height: 32px;
  $water-total-width: 32px;
  $water-total-height: 5582px;
  $water-image: '../public/img/spritesheet.png';
  $water: 0px 5328px 0px -5328px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $wifi-x: 0px;
  $wifi-y: 5365px;
  $wifi-offset-x: 0px;
  $wifi-offset-y: -5365px;
  $wifi-width: 32px;
  $wifi-height: 32px;
  $wifi-total-width: 32px;
  $wifi-total-height: 5582px;
  $wifi-image: '../public/img/spritesheet.png';
  $wifi: 0px 5365px 0px -5365px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $windows-x: 0px;
  $windows-y: 5402px;
  $windows-offset-x: 0px;
  $windows-offset-y: -5402px;
  $windows-width: 32px;
  $windows-height: 32px;
  $windows-total-width: 32px;
  $windows-total-height: 5582px;
  $windows-image: '../public/img/spritesheet.png';
  $windows: 0px 5402px 0px -5402px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $work-x: 0px;
  $work-y: 5439px;
  $work-offset-x: 0px;
  $work-offset-y: -5439px;
  $work-width: 32px;
  $work-height: 32px;
  $work-total-width: 32px;
  $work-total-height: 5582px;
  $work-image: '../public/img/spritesheet.png';
  $work: 0px 5439px 0px -5439px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $world-x: 0px;
  $world-y: 5476px;
  $world-offset-x: 0px;
  $world-offset-y: -5476px;
  $world-width: 32px;
  $world-height: 32px;
  $world-total-width: 32px;
  $world-total-height: 5582px;
  $world-image: '../public/img/spritesheet.png';
  $world: 0px 5476px 0px -5476px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $youtube-x: 0px;
  $youtube-y: 5513px;
  $youtube-offset-x: 0px;
  $youtube-offset-y: -5513px;
  $youtube-width: 32px;
  $youtube-height: 32px;
  $youtube-total-width: 32px;
  $youtube-total-height: 5582px;
  $youtube-image: '../public/img/spritesheet.png';
  $youtube: 0px 5513px 0px -5513px 32px 32px 32px 5582px '../public/img/spritesheet.png';
  $zoom-x: 0px;
  $zoom-y: 5550px;
  $zoom-offset-x: 0px;
  $zoom-offset-y: -5550px;
  $zoom-width: 32px;
  $zoom-height: 32px;
  $zoom-total-width: 32px;
  $zoom-total-height: 5582px;
  $zoom-image: '../public/img/spritesheet.png';
  $zoom: 0px 5550px 0px -5550px 32px 32px 32px 5582px '../public/img/spritesheet.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
